<main class="container">
  <h1 class="text-center my-5">Iniciar sesión</h1>
  <div class="card bg-black-50 text-dark">
    <div class="card-body ">
      <form  (ngSubmit)="login()">
        <div class="">
          <label for="email" class="form-label">Nombre de usuario</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Ej@ejemplo.com"
            aria-describedby="emailHelp" [(ngModel)]="user.username" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input class="input-group-text" [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password" name="password" [(ngModel)]="user.password" />
         
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"
            ></i>
        
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</main>