<h1 class="text-center my-5">!Hola¡</h1>
<main class="container-fluid mb-5 d-flex justify-content-evenly">
  <div class="card bg-black-50 text-white">
    <div class="opacity-50">
      <img src="../../../assets/grupo.jpg" class="img-fluid" alt="...">
    </div>

    <div class="card-img-overlay text-fluid">
      <h5 class="card-title text-center text-uppercase fs-2 text-dark">!Bienvenido¡</h5>
      <hr>
      <br>
      <p class="card-text text-center fs-3 font-monospace text-dark">Registrese E Ingrese Y Disfrute De La Mejor
        Aplicacion Donde Podra Crear, Inventariar, Actualizar, Editar Y Eliminar Sus Productos </p>

    </div>
  </div>
  <div class="card bg-black-50 text-dark ">
    <div class="card-body">
      <form class="my-5" (ngSubmit)="register()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp"
            [(ngModel)]="user.name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
            [(ngModel)]="user.email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" id="password" name="password" [(ngModel)]="user.password"
            />
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !fieldTextType,
                  'fa-eye': fieldTextType
                }"
                (click)="toggleFieldTextType()"
              ></i>
            </span>
        
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>



</main>

